@model OtoServisSatis.Entities.Models.Rol

@{
    ViewBag.Title = "Rol Sil";
    
}

<h2>Rol Sil</h2>

<h3>Rol silmek istiyor musunujz ?</h3>

<hr/>
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Ad)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Ad)
    </dd>
</dl>


<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Sil" class="btn btn-danger">
    <a asp-action="Index">Listeye Don</a>
</form>